*{
    width: 300px;
    margin-left: 10px;
}


h3{
    font-family: 'proxima-nova', sans-serif;
    color: #350C43;
    font-size: 14pt;
}

p{
    font-family: 'proxima-nova', sans-serif;
    max-width: 350px;
}